<main class="form-signin">
  <div class="login-card">
    <h2>Login</h2>
    <h3>Enter your credentials</h3>
    <form class="login-form" action="/login" method="POST">
      <div class="form-floating">
        <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <a href="/" class="w-100 btn btn-lg btn-warning">Atras</a>
    </form>
  </div>
</main>
