<main class="form-signin">
  <div class="login-card">
    <div class="log-circle-container">
      <div class="biggest"></div>
        
    </div>
    <h2><i class="fa-solid fa-user"></i> Login</h2>
    <h3>Enter your credentials</h3>
    <form class="login-form" action="/login" method="POST">
    
      <div class="form-floating">
        <input type="text" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email o UserName</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <a href="/reset" class="password-rest">¿Did you forget your password?</a>
      <div class="log-btns">
        <a href="/welcome" class="GoBack"> <i class="fa-solid fa-left-long"></i>Atras</a>
        <button class="sign-in-btn" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</main>
