<main class="form-signin">
  <div class="login-card">
    <h2>New Password</h2>
    <h3>Enter your password</h3>
    <form class="login-form" action="/new-password" method="POST">

     
      <input type="hidden" name="passwordToken" value="{{passwordToken}}" />   
     <input type="hidden" name="userId" value="{{userId}}" />

      <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              name="password"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          
      </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="confirm-password-input"
              name="confirmPassword"
              placeholder="Confirm Password"
            />
             <label for="confirm-password-input">Confirm Password</label>
          
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Actualizar</button>
    </form>
  </div>
</main>
