<main class="form-signin">
  <div class="login-card">
    <h2><i class="fa-solid fa-thumbtack"></i> Reset Password</h2>
    <h3>Enter your credentials</h3>
    <form class="login-form" action="/reset" method="POST">
      <div class="form-floating">
        <input type="text" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email o UserName</label>
      </div>
      <a href="/" class="password-rest">¿Did you forget your password?</a>
      <div class="log-btns">
        <a href="/login" class="GoBack">Atras</a>
        <button class="sign-in-btn" type="submit">Recuperar</button>
      </div>
    </form>
  </div>
</main>
