<main class="form-signin">
  <div class="login-card">
    <h2>Reset Password</h2>
    <h3>Enter your credentials</h3>
    <form class="login-form" action="/reset" method="POST">
    
      <div class="form-floating">
        <input type="text" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email o UserName</label>
      </div>
      <a href="/">¿Haz olvidado contraseña?</a>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Recuperar</button>
      <a href="/login" class="w-100 btn btn-lg btn-warning">Atras</a>
    </form>
  </div>
</main>
