<div class="home-panel">
    <div class="blob"></div>
    <div class="content-c">
        <div class="home-info">
            <div class="info-indetifier"></div>
            <div class="in-c">
                <h3>Haz oír tu voz en las <span class="big-b bit-bigger">elecciones.</span></h3>
                <p class="infortmation"><span class="big-b">Bienvenido</span> a nuestra plataforma de votación en línea. Aquí, podrás ejercer tu derecho al voto de manera fácil y segura desde la comodidad de tu hogar. <br><br> Nuestra plataforma te permite elegir entre varios candidatos políticos y sus propuestas, así como seguir de cerca los resultados electorales. Además, ofrecemos información actualizada sobre cada candidato para que puedas tomar una decisión informada. ¡Únete a nuestra comunidad y haz que tu voz sea escuchada en las próximas elecciones! ¡ <a href="/signup" class="l-s">Regístrate ahora</a> y <span class="big-b">vota por tu candidato favorito! <i class="fa-solid fa-star"></i></span></p>
            </div>
        </div>
    </div>
</div>