* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
.wrapper {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 15% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background: url(../css/magicpattern-blob-1681741166580.png);
  background-position: left;
  background-repeat: no-repeat;
  font-family: "Euclid Circular A";
  color: #000;
  
}
@media (width >= 500px) {
  body {
    padding: 0;
  }
}
.container{
  height: 80vh;
}
.login-card {
  position: relative;
  width: 100%;
  padding: 70px 30px 44px;
  border-radius: 12px;
  background: #fff;
  text-align: center;
  border: 1px solid #E5E7E9;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 0;
  overflow: hidden;
}

@media (width >= 500px) {
  .login-card {
    margin: 0;
    width: 400px;
  }
}

.login-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 12px;
}

.login-card > h3 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.login-form > input,

.GoBack{
  background: #F7DC6F;
  padding: 6px;
  width: 27%;
  margin: 0 4px;
  border-radius: 3px;
  letter-spacing: .2px;
  text-decoration: none;
  color: #000;
}
.sign-in-btn{
  width: 27%;
  border: none;
  border-radius: 3px;
  background: #45feaf;
}
.log-btns{
  display: flex;
  justify-content: center;
}
.log-css{
  display: flex;
  justify-content: center;
}
.password-rest{
  color: #000;
  transition: all .3s ease-in-out;
}
.form-signin{
  width: 80%;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.log-circle-container{
  position: absolute;
  width: 50%;
  display: flex;
  justify-content: center;
  height: 6vh;
  top: 0;
  left: 25%;
  top: 1%;
  
}
